@import "tailwindcss";
@source "../../";

@import "./theme.css";

@import "lucide-static/font/lucide.css";

@font-face {
	font-family: "lucide";
	src: url("./lucide.eot?t=1747396755572"); /* IE9*/
	src:
		url("./lucide.eot?t=1747396755572#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("./lucide.woff2?t=1747396755572") format("woff2"),
		url("./lucide.woff?t=1747396755572") format("woff"),
		url("./lucide.ttf?t=1747396755572") format("truetype"),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
			url("./lucide.svg?t=1747396755572#lucide") format("svg"); /* iOS 4.1- */
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:grid;
}
.htmx-request.htmx-indicator{
    display:grid;
}

[x-cloak]{
    display: none;
}